.App {
  text-align: center;
  display:flex;
  justify-content: center;
  align-items:center;
  margin-top: 30px;
}

.netscale {
  display:flex;
  flex-direction:column;
}

.container {
  display:flex;
}

.segment {
  display:flex;
  height:80px;
  width: 200px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.row{
  width: 1104px;
  display:flex;
  flex-wrap: wrap;
  cursor: pointer;
  z-index:2;
  background-color: #fff;
  position: absolute;
  top: 2%;
  left:50%;
  margin-left: -552px;
}

.row p {
  display:flex;
  justify-content:center;
  align-items:center;
}

.row_name{
  z-index:3;
}

.slot{
  width: 90px;
  height: 90px;
  border: 1px solid black;
  display:flex;
  justify-content: center;
  align-items:center;
  position: relative;
  background-image: url("./images/port.png");
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.switch_case {
  width:100%;
  z-index: 3;
  margin-top:3px;
  padding-top: 1px;
  display:flex;
  justify-content: space-between;
}

.switch {
  border-radius: 20px;
  width: 100px;
  height: 60px;
}

.green {
  background-color:green;
}

.red {
  background-color:red;
}

.ok{
  margin-bottom: 15px;
}

.big_data{
  border: 2px solid black;
  border-radius: 50px;
  height: 400px;
  width: 600px;
  position:absolute;
  visibility: hidden;
  top: 110%;
  left: 50%;
  margin-left: -300px;
  background-color: lightyellow;
  z-index:6;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  padding-left:10px;
  padding-right:10px;
}

.data {
  display:flex;
  flex-grow:1;
  font-size: 16px;
}

.visible {
  visibility: visible;
}

.input {
  width: 100%;
  height:100%;
}